<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sagra.stylemaker_v1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:name=".server.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sagra.stylemaker_v1"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- largeHeap 은 bitmap memory를 더 많이 사용하기 위한 것으로 outofmemory error를 약간 해결해준다 -->
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".AddclothActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondActivity" />
        </activity>
        <activity
            android:name=".SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddcodiActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AddstyleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".filtering.FilterActivity"
            android:label="뒤로가기"
            android:screenOrientation="portrait"> <!-- android:theme="@style/AppTheme.NoActionBar.Fullscreen" -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddstyleActivity" />
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FifthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ClothdetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SecondActivity" />
        </activity>
        <activity android:name=".CodidetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ThirdActivity" />
        </activity>
        <activity android:name=".FourthActivity" />
        <activity android:name=".StyledetailActivity"></activity>



        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ProfilepicActivity" />
        <activity android:name=".ProfileActivity" />
    </application>

</manifest>